/* Colors: #BDDBA3, #677E52, #B7CA79, #F6E8B1, #89725B */

div.content{
	padding-top: 1em;
	text-align: center;
	padding-bottom: 1em;
}

body {
	background-color: #BDDBA3;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

div.jumbotron{
	background-color: #F6E8B1;
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom:0;
}

div.footer{
	background-color: #B7CA79;
	padding: 1em 1em 1em 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
    	border-width: medium;
}
